@import url('vendor/fontsdotcom/fonts.css');
@import url('vendor/normalize.css');

/*----------------------------------------------------------------------------
 *
 * VARIABLES (CSS Custom Properties) 
 * https://caniuse.com/#feat=css-variables
 *
 * To keep the list of dependencies on this project small, I’m eschewing a css
 * pre- or post-processor and instead taking advantage of the newer features
 * that CSS offers natively for setting and using variables.
 *
 * CSS variables have broad support in current browsers, with a few exceptions.
 * Notable exceptions are Opera Mini and IE 11 which lack support utterly, and 
 * Edge 15 which does not support CSS variables in animations or pseudo-elements.
 * Should this project go into production, a CSS post-processor could be used in 
 * the future to provide support for older and/or less-capable browsers or you 
 * *could* just replace the variables with their values.
 *
 * - Abby
 *
 *---------------------------------------------------------------------------*/
 
 /* Color variables pulled from WorldCat Logo. */
 
 :root {
	 --brand: 	44,150,62; /* same as green */
	 --green: 	44,150,62;
	 --blue: 	0,141,207;
	 --purple: 	96,72,148;
	 --pink: 	188,14,131;
	 --orange: 	245,127,41;
	 --dark:		0,0,0;
	 --text:		44,44,44;
	 --light:	255,255,255;
	 --font-family: "Avenir Next W01", sans-serif;
 }

/*----------------------------------------------------------------------------
 *
 * LAYOUT
 * 
 * Inspired by: https://cloudfour.com/thinks/breaking-out-with-viewport-units-and-calc/
 * 
 * The “measure” is the length of a line of text. Ideal line length is usually 
 * 45-75 characters. Using BEM naming conventions, .container--measure is a container 
 * which respects the ideal length of a line of text.
 *
 *---------------------------------------------------------------------------*/

html,
body {
  overflow-x: hidden;
  margin: 0;
}

/* Generic Layout Blocks */

.container {
	width: 100%;
	margin: 6rem auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;	
}

.container--measure {
	max-width: 55rem;
	margin-left: auto;
	margin-right: auto;
}


/*----------------------------------------------------------------------------
 *
 * TYPOGRAPHY
 *
 *---------------------------------------------------------------------------*/
 
 /*
	 Font sizes based on major third (1.25) http://www.modularscale.com/?1&em&1.25
	 Font weights include 100, 200, 300, 400, 500, 600, 700

*/

:root {	 
 	--base: 		1rem;
	--alpha:		4.768rem; /* largest */
	--beta:		3.052rem;
	--gamma:		1.953rem;
	--delta:		1.25rem;
	--epsilon:	.8rem;
}
 
html {
	font-size: 100%;
	font-family: var(--font-family);
	text-rendering: optimizelegibility; /* Can cause problems in some versions of Android */
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
}

body {
	line-height: 1.4;
	background: rgb(var(--light));
	color: rgb(var(--text));
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

.h1 {
	color: rgb(var(--green));
	font-weight: 100;
	font-size: var(--alpha);
	letter-spacing: -.03em;
}

.h2 {
	color: rgba(var(--dark), .7);
	font-weight: 600;
	font-size: var(--beta);
}

.h3 {
	color: rgba(var(--dark), .7);
	font-weight: 600;
	font-size: var(--gamma);
}

.h4 {
	color: rgba(var(--dark), .7);
	font-weight: 600;
	font-size: var(--delta);
}

.h5 {
	color: rgba(var(--dark), .7);
	font-size: var(--base);
	text-transform: uppercase;
	letter-spacing: .02em;
	font-weight: 700;
}

.intro-text-container {
	font-size: var(--delta);
}

p:first-child {
	margin-top:0;
}

p:last-child {
	margin-bottom:0;
}

strong {
	font-weight: 700;
	color: rgba(var(--dark), .7);
}
 
 /*----------------------------------------------------------------------------
 *
 * MISC
 *
 *---------------------------------------------------------------------------*/
 
 .button {
	border: none;
	-webkit-appearance: none;
 }
 
 /*----------------------------------------------------------------------------
 *
 * MODULE: HEADER
 *
 *---------------------------------------------------------------------------*/

.header-brand {
	padding: 1rem 2rem;
}

.header-brand__logo {
	width: 150px;
	height: auto;
}

.main__header {
	text-align:center;
	padding: 20vh 0;
	background: rgba(var(--dark), .1);
}

.main__header__title {
	max-width: 55rem;
	margin: auto;
}
 
 /*----------------------------------------------------------------------------
 *
 * MODULE: MAP
 *
 *---------------------------------------------------------------------------*/
 
.map {
	position: relative;
}

.map__wrap { 
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 350px;
    left: 50%;
}

/* Begin Titles Legend */

.map__legend {
	background-color: #fff;
	border-radius: 3px;
	top: 2rem;
	left: 2rem;
	box-shadow: 0 1px 2px rgba(var(--dark), .1);
	font: 12px/20px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	text-align: left;
	overflow: hidden;
	opacity: 0.9;
}

.map__legend__header {
	font-size: var(--epsilon);
	margin: 0 0 .5em;
}

.map__legend div span {
  border-radius: 50%;
  display: inline-block;
}

.circle1 {
  background-color: #666666;
  height: 5px;
  width: 5px;
  margin-right: 15px;
  margin-left: 9px;
}

.circle2 {
  background-color: #666666;
  height: 7px;
  width: 7px;
  margin-right: 11px;
  margin-left: 8px;
}

.circle3 {
  background-color: #666666;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  margin-left: 7px;
}

.circle4 {
  background-color: #666666;
  height: 13px;
  width: 13px;
  margin-right: 9px;
  margin-left: 5.7px;
}

.circle5 {
  background-color: #666666;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.align-us {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
}

/* End Titles Legend */
 
/*----------------------------------------------------------------------------
 *
 * MODULE: MAP CONTROLS / GROUP LEGEND
 *
 *---------------------------------------------------------------------------*/

.group-legend {
	margin-top: -6rem;
	padding:0;
	border: none;
}

.group-legend__hint {
	font-weight: 500;
	padding: 1rem;
	margin: 0 calc(-50vw + 50%) 2rem;
	text-align: center;
	background: rgba(var(--dark), .15);
}

.group-legend__intro {
	font-size: var(--delta);
}

#group-legend-elements {
	margin: .5rem -.5rem 0;
	display: flex;
	flex-wrap: wrap;
}

.group_div {
	font-size: var(--delta);
	cursor: pointer;
	margin: .5rem;
	padding: 1rem;
	background: rgba(var(--dark), .05);
	flex: 1 0 6rem;
}

.group-legend button {
	border: none;
	-webkit-appearance: none;
	width: 100%;	
}

h6.group_count {
  margin: 5px 0px 5px 0px; 
}

.mapboxgl-popup {
  max-width: 400px;
  font: 14px/20px;
  color: #666666;
}
 
 /*----------------------------------------------------------------------------
 *
 * MODULE: TOTALS
 *
 *---------------------------------------------------------------------------*/
 
.totals {
	text-align:center;
	background: rgba(var(--dark), .1);
}

.totals-wrap {
	margin: 0 -.5rem;
	padding: 6rem 0;
	display: flex;
	flex-wrap: wrap;
}

.total-container {
	margin: .5rem;
	padding: 1rem;
	background: rgba(var(--green), .75);
	flex: 1 0 6rem;
    text-align: center;
}

.total-container h2 {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 100;
    font-size: var(--beta);
}

.total-container p {
    color:#FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0px 3px 0px;
    letter-spacing: .05em;
}

.holdings-header { 
  padding:0px;
  margin: 0px 0px 10px 0px;
  color:#FFFFFF;
}
 
 /*----------------------------------------------------------------------------
 *
 * MODULE: SEARCH
 *
 *---------------------------------------------------------------------------*/
 
 .search__input-group {
	 display: flex;
	 margin: 1rem 0 3rem;
 }
 
 .search__input {
	flex: 1 1 62.8%;
	padding: 1rem;
	font-size: var(--base);
	background: rgba(var(--dark),.05);
	border: none;
 }
 
 .search__button {
	flex: 1 1 auto;
	padding: 1rem;
	font-size: var(--base);
	text-transform: uppercase;
	letter-spacing: .01em;
	font-weight: 700;
	background: rgba(var(--dark),.3);
	color: rgb(var(--light));
 }
 
 /* Begin Search Result Groups */
  
.search__groups {
	list-style: none;
	margin: .5rem 0 0;
	padding: 0;
}
 
.search__groups__item {
	list-style: none;
	margin: 0;
	font-size: var(--epsilon);
	display: inline-block;
	background-color: rgba(var(--dark),.3);
	padding: .25rem .5rem;
	color: rgba(var(--light), .8);
	border-radius: .5rem;
	font-weight: 700;
}

.search__groups__item .numeral {
	color: rgb(var(--light));
}

.search__groups__item.east {
	background-color: #FB9A99;
}

.search__groups__item.wrlc {
	background-color: #6A3D9A;
}

.search__groups__item.mi-spi {
	background-color: #FF4847;
}

.search__groups__item.viva {
	background-color: #CAB2D6;
}

.search__groups__item.ci-cci {
	background-color: #6A3D9A;
}

.search__groups__item.ali {
	background-color: #A6CEE3;
}

.search__groups__item.coppul {
	background-color: #33A02C;
}

.search__groups__item.tug {
	background-color: #FF7F00;
}
 
 /* End Search Result Groups */

 /* Begin Credit Styles */

.website-credits {
/*	margin: .5rem -.5rem 0;*/
	display: flex;
	flex-wrap: wrap;
}

.credits-column {
	flex: 1 0 6rem;
}

.credit-div {
	margin: 0 0 2rem;
	padding: 0rem;
}

h6.credit {
  font-size: --epsilon;
  margin: 5px 0px 5px 0px; 
}

 /* End Credit Styles */


/* Start Copyright Styles */
.copyright-notice h6 {
  margin: .5em 0;
}

 /* End Copyright Styles */
 
 /* Begin Table Styles */
 
table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	text-align: left;
	line-height: 1.2;
	padding: 1rem;
}
 
thead th {
	font-size: var(--epsilon);
	text-transform: uppercase;
	letter-spacing: .01em;
	font-weight: 700;
	color: rgba(var(--dark),.7);
	vertical-align: bottom;
}

tbody td {
	background: rgba(var(--dark),.05);
	vertical-align: top;
}

.table__title {
	width: 60%;	
}

.table__publisher {
	width: 25%;	
}

.table__pub-date {
	width: 15%;	
	text-align: right;
}
 
 /* End Table Styles */
 
 /*----------------------------------------------------------------------------
 *
 *  ORIGINAL STYLES BELOW (ONLY FONTS MODIFIED SO FAR)
 *
 *---------------------------------------------------------------------------*/

h4#location-title {
    margin-top: 10px;
    margin-bottom: 5px !important;
    font-weight: 700;
}


/* Table & Search Features */


#myInput {
    font: 14px/20px;
    color: #666666;
    float: left;
    font: 14px/20px;
    margin: 8px 0px 10px 15px;
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 60%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    display: inline-block;
}