@import url('vendor/normalize.css');

/*----------------------------------------------------------------------------
 *
 * VARIABLES (CSS Custom Properties) 
 * https://caniuse.com/#feat=css-variables
 *
 * To keep the list of dependencies on this project small, I’m eschewing a css
 * pre- or post-processor and instead taking advantage of the newer features
 * that CSS offers natively for setting and using variables.
 *
 * CSS variables have broad support in current browsers, with a few exceptions.
 * Notable exceptions are Opera Mini and IE 11 which lack support utterly, and 
 * Edge 15 which does not support CSS variables in animations or pseudo-elements.
 * Should this project go into production, a CSS post-processor could be used in 
 * the future to provide support for older and/or less-capable browsers.
 *
 * - Abby
 *
 *---------------------------------------------------------------------------*/
 
 :root {
	 --green: 	44,150,62;
	 --blue: 	0,141,207;
	 --purple: 	96,72,148;
	 --pink: 	188,14,131;
	 --orange: 	245,127,41;
	 --dark:		0,0,0;
	 --light:	255,255,255;
 }
 


/*----------------------------------------------------------------------------
 *
 * LAYOUT
 * 
 * Inspired by: https://cloudfour.com/thinks/breaking-out-with-viewport-units-and-calc/
 * 
 * The “measure” is the length of a line of text. Ideal line length is usually 
 * 45-75 characters. Using BEM naming conventions, .container--measure is a container 
 * which respects the ideal length of a line of text.
 *
 *---------------------------------------------------------------------------*/

html,
body {
  overflow-x: hidden;
  margin: 0;
}

/* Generic Layout Blocks */

.container {
	width: 100%;
	margin: 6rem 0;
}
.container:after {
  content: "";
  display: table;
  clear: both;	
}

.container--measure {
	max-width: 55rem;
	margin-left: auto;
	margin-right: auto;
}

.container--measure__bleed { // breaks elements out of container--measure, if necessary
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}

/* Layout Areas */

.header-brand {
	padding: 1rem 2rem;
}

.header-brand__logo {
	width: 150px;
}

.main__header {
	text-align:center;
	padding: 20vh 0;
	background: rgba(var(--dark), .1);
}


/*----------------------------------------------------------------------------
 *
 * TYPOGRAPHY
 *
 *---------------------------------------------------------------------------*/
 
html {
	font-size: 100%;
	font-family: "proxima-nova", sans-serif; // 100 (thin), 300 (light), 400 (normal), and 700 (bold) weights available
}

body {
	line-height: 1.4;
}

.main__header__title {
	font-weight: 100;
	font-size: 5rem;
	max-width: 55rem;
	margin: auto;
	color: rgb(var(--green));
}

.intro-text-container {
	font-size: 1.25rem;
}

p:first-child {
	margin-top:0;
}
 
 /*----------------------------------------------------------------------------
 *
 * MODULE: MAP
 *
 *---------------------------------------------------------------------------*/
 
.map-wrap {
	position: relative;
}

.map { 
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 350px;
    left: 50%;
}

/* Begin Titles Legend */

.titles-legend {
  background-color: #fff;
  border-radius: 3px;
  top: 2rem;
  left: 2rem;
  box-shadow: 0 1px 2px rgba(var(--dark), .1);
  font: 12px/20px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  text-align: left;
  overflow: hidden;
  opacity: 0.9;
}

.titles-legend h5 {
  margin: 0 0 10px;
}

.titles-legend div span {
  border-radius: 50%;
  display: inline-block;
}

.circle1 {
  background-color: #666666;
  height: 5px;
  width: 5px;
  margin-right: 15px;
  margin-left: 9px;
}

.circle2 {
  background-color: #666666;
  height: 7px;
  width: 7px;
  margin-right: 11px;
  margin-left: 8px;
}

.circle3 {
  background-color: #666666;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  margin-left: 7px;
}

.circle4 {
  background-color: #666666;
  height: 13px;
  width: 13px;
  margin-right: 9px;
  margin-left: 5.7px;
}

.circle5 {
  background-color: #666666;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.align-us {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
}

/* End Titles Legend */
 
/*----------------------------------------------------------------------------
 *
 * MODULE: MAP CONTROLS / GROUP LEGEND
 *
 *---------------------------------------------------------------------------*/

.group-legend {
	padding:0;
	border: none;
}

.group-legend__intro {
	font-size: 1.25rem;
}

#group-legend-elements {
	margin: 2rem -.5rem 0;
	display: flex;
	flex-wrap: wrap;
}

.group_div {
	font-size: 125%;
	cursor: pointer;
	margin: .5rem;
	padding: 1rem 1rem 0;
	background: rgba(var(--dark), .05);
	flex: 1 0 6rem;
}

.group-legend button {
	border: none;
	-webkit-appearance: none;
	width: 100%;	
}

#group-legend-title {
  color: #666666;
  padding-bottom: 10px;
} 

h6.group_count {
  margin: 5px 0px 5px 0px; 
}

.mapboxgl-popup {
  max-width: 400px;
  font: 14px/20px;
  color: #666666;
}
 
 /*----------------------------------------------------------------------------
 *
 * MODULE: TOTALS
 *
 *---------------------------------------------------------------------------*/
 
.totals {
	text-align:center;
	background: rgba(var(--dark), .1);
}

.totals-wrap {
	margin: 0 -.5rem;
	padding: 6rem 0;
	display: flex;
	flex-wrap: wrap;
}

.total-container {
	margin: .5rem;
	padding: 1rem;
	background: rgba(var(--green), .75);
	flex: 1 0 6rem;
    text-align: center;
}

.total-container h2 {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 100;
    font-size: 3rem;
}

.total-container p {
    color:#FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0px 3px 0px;
    letter-spacing: .05em;
}

.holdings-header { 
  padding:0px;
  margin: 0px 0px 10px 0px;
  color:#FFFFFF;
}
 
 /*----------------------------------------------------------------------------
 *
 *  ORIGINAL STYLES BELOW (ONLY FONTS MODIFIED SO FAR)
 *
 *---------------------------------------------------------------------------*/


h2.button-margin {
    margin: 10px; 
    text-transform: uppercase;
    font-weight: 900;
}

button {
    margin:0 auto;
    display:inline-block;
}

.descriptive-text {
    font-weight: light;
    color: #666666;
    background-color: #fff;
    font-size: 90%;
}

h4#location-title {
    margin-top: 10px;
    margin-bottom: 5px !important;
    font-weight: 700;
}


// Table & Search Features

.search-box {
  margin: 35px 0px 15px 15px;
}

h3#table-title {
  float:left;
  font: 18px/20px;
  color: #666666;
}


#myInput {
    font: 14px/20px;
    color: #666666;
    float: left;
    font: 14px/20px;
    margin: 8px 0px 10px 15px;
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 60%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    display: inline-block;
}

td {
    vertical-align:middle;
    // height:100px;
    width:100%;
}

.spacer {
  margin: 10px 0px 10px 0px;

}

#east {
  font: 10px/14px;
  margin: 25px 20px 5px 0px;
  background-color: #FB9A99;
  padding: 3px 5px;
  color: white;
  width: 10px;
  height: 5px;
  border-radius: 5px;
}

#wrlc {
  font: 10px/14px;
  margin: 5px 20px 5px 0px;
  background-color: #6A3D9A;
  padding: 3px 5px;
  color: white;
  width: 20px;
  height: 10px;
  border-radius: 5px;
}

#mi-spi {
  font: 10px/14px;
  margin: 25px 20px 5px 0px;
  background-color: #FF4847;
  padding: 3px 5px;
  color: white;
  width: 10px;
  height: 5px;
  border-radius: 5px;
}

#viva {
  font: 10px/14px;
  margin: 5px 20px 5px 0px;
  background-color: #CAB2D6;
  padding: 3px 5px;
  color: white;
  width: 20px;
  height: 10px;
  border-radius: 5px;
}

#ci-cci {
  font: 10px/14px;
  margin: 25px 20px 5px 0px;
  background-color: #6A3D9A;
  padding: 3px 5px;
  color: white;
  width: 10px;
  height: 5px;
  border-radius: 5px;
}

#ali {
  font: 10px/14px;
  margin: 5px 20px 5px 0px;
  background-color: #A6CEE3;
  padding: 3px 5px;
  color: white;
  width: 20px;
  height: 10px;
  border-radius: 5px;
}

#coppul {
  font: 10px/14px;
  margin: 25px 20px 5px 0px;
  background-color: #33A02C;
  padding: 3px 5px;
  color: white;
  width: 10px;
  height: 5px;
  border-radius: 5px;
}

#tug {
  font: 10px/14px;
  margin: 5px 20px 5px 0px;
  background-color: #FF7F00;
  padding: 3px 5px;
  color: white;
  width: 20px;
  height: 10px;
  border-radius: 5px;
}

